<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org"
xmlns:layout ="https://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CadastroFuncionarios</title>
    </head>
    <body>
        <h1>Cadastro de Funcionarios</h1>
        <hr>
        <form method ="post">
            <input type="text" value = "" name = "id" placeholder="Digite seu Id"/>
                <br>
            <input type ="text" value ="" name ="nome" placeholder="Digite seu nome"/>
                <br>
            <input type ="text"  value = "" name = "cpf" placeholder="Digite seu cpf"/>
                <br>
            <input type = "text" value = "" name = "departamento" placeholder="Digite seu departamento"/>
                <br>
            <input type = "text" value="" name = "telefone" placeholder="Digite seu telefone"/>
                <br>
            <button type ="submit">Salvar</button>
        </form>
    </body>
</html>