<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tela Principal</title>
<style>
div.a{
    text-align: center;
    text-emphasis-color: blue;
}
</style>
</head>
<body>
<div class ="Titulo ">
<div>
<img border="0" src="channels4_profile.jpg">    
<h1 style="margin-bottom: 20px; margin-left: 75px;
margin-top: 2px; font-size: 20px; display: inline;">IlhaJobs</h1>
</div>
<div>
<button style="display:inline-block ;">Vagas</button>
</div>
</div>
</body>
</html>